ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.navbar {
    display: flex;
}

.container{
    border: 1px solid blue;
    padding: 10px;
    display: flex;
    gap: 10px;
}

.content {
    border: 1px solid green;
    padding: 10px;
    flex: 7;
}

.aside {
    border: 1px solid red;
    padding: 10px;
    flex: 1;
}

.aside2 {
    border: 1px solid purple;
    padding: 10px;
    flex: 2;
}

.footer {
    border: 1px solid brown;
    padding: 10px;
}